.joke-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100vw - 2.5rem);
    height: calc(100vh - 2.5rem);
    margin: auto;
    position: relative;
    border: 1px solid #7a736a;
    border-radius: 8px;
    font-size: 3rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Verdana", sans-serif;
    line-height: 1.25;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}

.joke-tile .more-hint{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    font-size: 1rem;
    opacity: 0.8;
}

.joke-tile.dismissed{
    position: fixed;
    left: calc(1.25rem - 1px);
    top: 1.25rem;
    z-index: 50;
    animation: 0.2s ease-out 0s bounce-up, 1s ease-in 0.2s drop-offscreen;
}

.joke-tile .setup{
    margin-bottom: 1.5rem;
}

@keyframes bounce-up{
    from{
        transform: translateY(0vh) rotate(0);
    }

    to{
        transform: translateY(-12vh) rotate(4deg);
    }
}

@keyframes drop-offscreen{
    from{
        transform: translateY(-12vh) rotate(4deg);
    }

    to{
        transform: translateY(220vh) rotate(8deg);
    }
}
